.home {
    min-width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-inner {
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
   
}

.hero-bg {
    width: 100%;

}

.hero-bg>img {
    object-fit: cover;
    width: 100%;
    box-shadow: 1px 1px 4px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-section {
    width: 100%;
    display: flex;
    min-height: 170px;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 3px;
}

.category-card {
    height:180px;
    display: flex;
    width: 140px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    box-shadow: 0px 0px 3px;
    border-radius: 8px;
    transition: all 0.1s;
    cursor: pointer;
}

.category-card:hover {
    transform: scale(0.9);
}

.cat-img {
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.cat-img>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px
}

.category-card>span {
    font-size: 0.8rem;
    font-weight: bold;

}

.category-wrapper {
    margin-top: 20px;
    width: 100%;
}

.category-wrapper p {
    padding: 10px;
    font-size: large;
    font-weight: 500;

}

@media screen and (max-width:950px) {

    .category-card {
        height: 80%;
        width: 120px;
    }

}


@media screen and (max-width:800px) {

    .category-card {
        height: 70%;
        width: 100px;
    }

}


@media screen and (max-width:680px) {
    
    .category-card>span{
          font-size: 0.7rem;
    }
    .category-card {
       
        height: 60%;
        width: 80px;
    }

}


@media screen and (max-width:560px) {
   .category-card>span{
          font-size: 0.6rem;
    }
    .category-card {
        height: 50%;
        width: 70px;
    }

}

@media screen and (max-width:460px) {
  
   
    .category-section {
        flex-direction: column;
        gap: 50px;
    }

    .category-card {
        height: 80%;
        width: 120px;
    }

    .category-wrapper p {
        text-align: center;

    }
}

.trending-wrapper{
    width: 100%;
    margin-top: 20px;
}

.trending-wrapper>p{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding-bottom: 20px;
}
