.card{
    height: 380px;
    padding: 2px;
    width: 200px;
    display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
gap: 20px;
   border: 2px solid black;
}

.img{
    height:200px;
    width:150px;
}

.img>img{
    max-height: 100%;
    width:100%;
    object-fit: cover;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 150px;
}