.shop-container{
    width: 100%;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
}

.shop-heading{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 8px;
    font-size: large;
    font-weight: bolder;
    color: rgb(115, 15, 15);
}